on:
  workflow_dispatch: 
  push:
    branches:
    - main
name: Masterwrapper
jobs:
  masterwrapper: 
    name: test
    runs-on: ubuntu-latest
    
  useCallable:
    uses: ./.github/workflows/rae.yml
    with:
      name: 'Mateen'
