on:
  workflow_dispatch: 
  push:
    branches:
    - main
  # schedule:
  #   - cron: "*/10 * * * *"
name: Master wrapper Workflow
jobs:
  masterwrapper: 
    name: Master Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: |
          echo "init"
          echo "${{ toJson(github) }}"
  AE:
    uses: ./.github/workflows/rae.yml
  DE:
    uses: ./.github/workflows/rde.yml
  Callhook:
    name: callfivetranhook
    runs-on: ubuntu-latest
    steps:
      - name: init
        env:
          G_CTX: ${{ toJson(github) }}
        run: |
          curl --request POST \
          --location 'https://webhooks.fivetran.com/webhooks/62dd7221-2674-4ffc-a063-1649c7efa5a9' \
          --header 'X-Fivetran-Secret-Token: OuybXqRqhnC9HsHJPC+mesKGRmRVqLMN/+XK9fBwpIY' \
          --header 'Content-Type: application/json' \
          --data-raw "$G_CTX"
  
