on:
  workflow_dispatch: 
  push:
    branches:
    - main
name: Masterwrapper
jobs:
  masterwrapper: 
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: echo "init"
  
  useCallable:
    uses: ./.github/workflows/rae.yml
      

