on:
  workflow_dispatch: 
  push:
    branches:
    - main
name: Master wrapper Workflow
jobs:
  masterwrapper: 
    name: Master Wrapper
    runs-on: ubuntu-latest
    steps:
      - name: init
        run: echo "init"
  
  useCallable:
    uses: |
      ./.github/workflows/rae.yml
      ./.github/workflows/rde.yml
      

