name: Run AE
on: 
  workflow_call:
    inputs:
      name: 
        description: 'Name for greeting'
        required: true
        type: 'string'
    outputs:
      greetingMessage: 
        description: 'Generated greeting message'
        value: ${{ steps.greeting.outputs.message }}

jobs:
  deploy:
    name: AE Runner
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "Insdie AE"
