name: Run AE
on: 
  workflow_call:
  workflow_dispatch:
jobs:
  ae:
    name: AE Runner
    env:
      testToken: ${{ secrets.TEST_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "Insdie AE ${testToken} " > test.txt
          cat test.txt
          
