on:
  workflow_dispatch: 
  push:
    branches:
      - main
name: Run AE
jobs:
  deploy:
    name: AE Runner
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "Insdie AE"
