 on:
     workflow_dispatch: 
     push:
       branches:
         - main
 
 name: Send mail notification

 jobs:
   send_mail: 
     runs-on: ubuntu-latest
     steps:
       - name: "Install sendmail"
         run: |
           sudo apt-get install sendemail -q -y
       - name: MailSend
         run: |
           which sendmail
           sudo /bin/sh -c 'echo "127.0.0.1    localhost gmail.com" >> /etc/hosts'
           echo "actions test mail" | sendmail -s "actions test mail" samateen.sb@gmail.com



