 on:
     workflow_dispatch: 
     #push:
      #branches:
       # main
 
 name: Send mail notification

 jobs:
   send_mail: 
     runs-on: ubuntu-latest
     steps:
       - name: Install sendmail and send the mail
         run: |
          sudo apt-get update -q -y
          sudo apt-get install mutt -q -y
          sudo mkdir -p ~/.mutt/cache/headers
          sudo mkdir ~/.mutt/cache/bodies
          sudo touch ~/.mutt/certificates
          
          mutt -s "Test Email" samateen.sb@gmail.com



