 on:
     workflow_dispatch: 
     push:
      branches:
       main
 
 name: Send mail notification

 jobs:
   send_mail: 
     runs-on: ubuntu-latest
     container:
      image: debian:bookworm
     steps:
       - name: Install sendmail and send the mail
         run: |
          sudo apt-get update -q -y
          sudo apt-get install mutt -q -y
          sudo mkdir -p ~/.mutt/cache/headers
          sudo mkdir ~/.mutt/cache/bodies
          sudo touch ~/.mutt/certificates
          which mutt
          # sudo /bin/sh -c 'echo "127.0.0.1    localhost gmail.com" >> /etc/hosts'
          # echo "actions test mail" | sendmail -s "actions test mail" samateen.sb@gmail.com



